footer {
  .footer-wrapper {
    justify-content: space-between;

    width: 55%;
    margin: 0 auto;
    padding-bottom: 15px;
    .footer-left {
      ul {
        font-size: 11px;
        font-weight: 300;
        color: rgba(61,61,61,.8);
        li {
          &:not(:first-child) {
            &:before {
              content: "\0000b7";
              padding: 0 5px;
            }
          }
        }
      }
    }
    .footer-right {
      align-items: center;
      i {
        color: #5BC6FD;
        padding-right: 10px;
      }
      select {
        padding-right: 100px;
      }
    }
  }
}
